*
{
    padding: 0;
    margin: 0;
}

.title
{
    margin-bottom: 10px;
}

/* Styles the header page */

/* Styles each page link */
#navBar{
    display: flex;
    width: 100%;
    background-color: red;
}

#navBar a{
    display: inline-flex;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

#homeLink{
    background-color: #2F0C08;
}
 /* Makes the mouse turn into a pointer when hovering over the menu
    items and changes the divs background color */
#navBar a:hover{
    cursor: pointer;
    color: #FE6A5D;
    background-color: #2F0C08;
    transition: background-color 1s, color 1s;
}

/*
 * Styles the about page.
 */
 
  .instructor1, .instructor2{
	 padding: 15px;
 }
 
 /*Styles the about Page Ends here */

 body {
     background-color: #474e5d;
     font-family: Helvetica, sans-serif;
 }
 
 /* The actual timeline (the vertical ruler) */
 .timeline {
     position: relative;
     max-width: 1200px;
     margin: 0 auto;
 }
 
 /* The actual timeline (the vertical ruler) */
 .timeline::after {
     content: '';
     position: absolute;
     width: 6px;
     background-color: white;
 }

 /*
  * Styles the contact page.
  */


 /*
  * Styles the curriculum page.
  */
 

 /*
  * Styles the history page.
  */

/* Makes middle line in time line */
#centerline
{
    position: relative;
    left: 50%;
    bottom: 0;
    top: 0;
    border-left: 2px solid black;
}

/* Acts as a sort of container for all of the elements in the timeline */
#timeline {
    position: relative;
    margin: 0 auto;
    overflow: auto;
}

/* This makes the actual line appear in the middle */
#timeline::before
{
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Styling for each historical event */
div.left, div.right
{
    width: 45%;
    display: block;
    background: lightcoral;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    clear: both;
    border-radius: 10px;
}

/* Styles the headings in the time line */
div.left h3, div.right h3
{
    padding: 5px;
    margin-bottom: 5px;
}

/* Styles the text in the timeline */
div.left p, div.right p
{
    padding: 5px;
    padding-left: 10px;
}

/* Floats the div to the left */
div.left
{
    float: left;
    border-radius: 10px 0px 10px 10px;
}

/* Floats the div to the right */
div.right
{
    float: right;
    border-radius: 0px 10px 10px 10px;
}

 /*
  * Styles the home page.
  */


 /*
  * Styles the media page.
  */


 /*
  * Styles the schedule page.
  */

 
