/* Fonts for site: https://fonts.google.com/?category=Sans+Serif,Display,Handwriting,Monospace&selection.family=Josefin+Sans|Montserrat:900|Noto+Sans&thickness=8 */
*
{
    padding: 0;
    margin: 0;
}

body {
    background-color: #DEEEEF;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}

.title
{
    margin-bottom: 10px;
}

/* Styles the header */

#navBar{
    display: flex;
    width: 100%;
    background-color: #001427;
    font-family: 'Josefin Sans', sans-serif;
}

#navBar a{
    display: inline-flex;
    padding: 15px;
    font-size: 26px;
    text-decoration: none;
    color: white;
}

#navBar a:hover{
    cursor: pointer;
    text-shadow: 2px 2px #001427;
    background-color: #BF0603;
    transition: background-color .3s;
}

/* Styles the login button to stay to the right */
#loginLink
{
    position: absolute;
    right: 0;
}

 /* Makes the mouse turn into a pointer when hovering over the menu
    items and changes the divs background color */
/* Styles the Index Page */
#indexWrapper{
    margin: 2% 5% 2% 5%;
    padding: 25px 25px 25px 25px;
    background-color: #fff;
}

#indexWrapper h1{
    text-align: center;
}

#indexWrapper h2{
    padding-bottom: 10px;
}

#indexWrapper p{
    margin: 10px 20px 10px 20px;
}

#indexWrapper ul{
    margin-top: 10px;
}

#indexWrapper li{
    margin-left: 5%;
}
/*
 * Styles the about page.
 */
 #container{
	width:900px;
	background-color: white;
	margin: 0 auto 80px;
	margin-top: -8px;
	padding: 20px 80px 50px 80px;
}

.about{
	width:100%;
	height:250px; 
	background-color:#fff;
	
}

.about #moyoverview{
	width:70%;
	height:250px; 
	float:left;	
	padding-bottom:15px;
}

.about h1{
	font-size: 30px; 
	text-align:center; 
	font-weight:lighter; 
	color:#000; 
	margin-left:50px;  
	border-bottom: 1px solid #dedede;	
}

.about p{
	font-family:'Times New Roman', Times, serif;
	color:#000;
	font-size:smaller; 
	padding:15px; 
	text-align:justify;
}

.about #logo{
	width:30%;
	height:250px; 
	float:left;
}

#logo logo-img{
	width:100%; 
	height:100%;
}

#mission{
	width:100%;
	height:230px; 
	background-color:#f5f6f6;
	padding-top:15%;
}

#mission td{
	padding:20px;
}

#mission h3{
text-align:center;
text-shadow: 2px 2px #FF0000;
}

.instructors{
	 padding: 15px;
	 font-family: sans-serif;
	 background-color:#80bdc3;
	 text-align:justify;
 }
 
 .instructors instructor1{
	 background:red;
 }

 /* Styles the about Page Ends here */
 
 /* The actual timeline (the vertical ruler) */
 .timeline {
     position: relative;
     max-width: 1200px;
     margin: 0 auto;
 }
 
 /* The actual timeline (the vertical ruler) */
 .timeline::after {
     content: '';
     position: absolute;
     width: 6px;
     background-color: white;
 }

 /*
  * Styles the contact page.
  */
	   
   


 /*
  * Styles the curriculum page.
  */
  
.sash{
	padding: 10px;
	border: 1px solid white;
	margin-bottom: 10px;
	overflow: hidden;
	display: inline-block;
	clear: both;
	float: left;
}

.subLearn{
	overflow: hidden;
	display: inline-block;
	clear: both;
}

.sashExpectations{
	overflow: hidden;
	display: inline-block;
	clear: both;
}
#greenStripe{
	padding: 10px;	
	background-color: green;
}

#redStripe{
	padding: 10px;
	background-color: red;
}

#whiteStripe{
	padding: 10px;
	background-color: white;
}

#brownStripe{
	padding: 10px;
	background-color: brown;
}

#blackStripe{
	padding: 10px;
	background-color: black;
	color: white;
}

#goldStripe{
	padding: 10px;
	background-color: gold;
}
 

 /*
  * Styles the history page.
  */

/* Styles the pictures on the timeline */
.left img
{
    width: 20%;
    float: right;

}

/* The actual timeline (the vertical ruler) */
.timeline
{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after
{
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
}

/* Makes middle line in time line */
#centerline
{
    position: relative;
    left: 50%;
    bottom: 0;
    top: 0;
    border-left: 2px solid black;
}

/* Acts as a sort of container for all of the elements in the timeline */
#timeline {
    position: relative;
    margin: 0 auto;
    overflow: auto;
}

/* This makes the actual line appear in the middle */
#timeline::before
{
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Styling for each historical event */
div.left, div.right
{
    display: block;
    background: lightcoral;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

/* Styles the headings in the time line */
div.left h3, div.right h3
{
    padding: 5px;
    margin-bottom: 5px;
}

/* Styles the text in the timeline */
div.left p, div.right p
{
    padding: 5px;
    padding-left: 10px;
}

/* Floats the image to the right */
.timelinecontainer img
{
    width: 40%;
    margin: 10px;
    padding: 5px;
    position: relative;
}

/* Floats the left picture in the timeline to the left */
.leftpic
{
    float: left;
}

/* Floats the right picutre in the timeline to the right */
.rightpic
{
    float: right;
}

/* Sizes the text boxes in the timeline */
div.left
{
    float: left;
    width: 45%;
    border-radius: 10px 0 10px 10px;
}

/* Makes the container that has the text and picture a certain height */
.timelinecontainer
{
    clear: both;
    height: 500px;
}

/* Floats the div to the right */
div.right
{
    float: right;
    width: 45%;
    border-radius: 0 10px 10px 10px;
}



/*
 * Styles the login page.
 */

/* Styles the form container */
#loginBox
{
    background-color: red;
    width: 80%;
    position: absolute;
    top: 30%;
    left: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

/* Styles the member login header */
#loginBox h1
{
    text-align: center;
}

/* Styles the login form */
#login
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 50px;
    width: 50%;
}

/* Styles the input sections of user and password */
#login input
{
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
}

/* Styles the user and password labels */
#login label
{
    float: left;
    padding: 5px;
    padding-left: 10px;
}


/* Styles the login button */
#login button
{
    padding: 10px;
    margin: 15px;
    border-radius: 3px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Styles the logout button */
#logout
{
    float: right;
    background-color: lightgray;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    margin-top: 0;
    color: #000;
    text-decoration: none;
}

/* Makes the logout button react to being hovered over */
#logout:hover
{
    background-color: gray;
    cursor: pointer;
}

 /*
  * Styles the home page.
  */

/* Formats the slide show container */
#slideshow
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* Formats the slide show images */
#slideshow img
{
    height: 500px;
    width: 700px;
    display: none;
    margin-right: auto;
    margin-left: auto;
}

/* Styles the slide buttons */
#nslide, #bslide
{
    background-color: lightgray;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    position: relative;
    opacity: .6;
    bottom: 270px;
}

/* Floats the right button to the right */
#nslide
{
    float: right;
}

/* Floats the left button to the left */
#bslide
{
    float: left;
}

/* Styles the slide buttons */
#nslide:hover, #bslide:hover
{
    opacity: 1;
    cursor: pointer;
}

/* Styles the slide container */
#slides
{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 500px;
}

/* Makes first slide display */
img#current
{
    display: block;
}


 /*
  * Styles the media page.
  */


 /*
  * Styles the schedule page.
  */

   div.classTimes {
   	padding: 15px;
   	margin: 20px;
   	background-color: black;
   	color: white;
   }
   
   
   div.pTag {
   	padding: 15px;
	margin: 20px;
   	color: white;
   
   }
   
   div.events {
   
   
   }
   /* Contact Us CSS */
input#desc {
	padding: 1em 0em 1em 0em;
}

div.contactUs {
	padding: 0.5em 0em 0.5em 0em;
}

div#submit {
	text-align: center;
}
  
